@import url("fonts/fonts.css");

* {
	font-family: "JottFLF", "Comic Sans MS", sans-serif;
	text-align: center;
}

html {
	background-color: #57A;
	background-image: url('../images/blue-bg.png');
}

body {
	font-size: 14pt;
	margin: 1em auto;
	background-color: white;
	background-image: url('../images/white-bg.png');
	border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	width: 12em;
	padding: 1em;
}

dt {
	font-size: 125%;
	font-weight: bold;
	margin-top:0.5em;
	padding-top: 0.3em;
	border-top: 1px dashed black;
}

dd {
	margin: 0;
}

dd small {
	font-size: .7em;
	vertical-align: top;
}

input {
	font: inherit;
	border: none;
	width: 100%;
}

input[type=text] {
	color: #163460;
	background-color:transparent;
	border-bottom: 1px solid #5577AA;
}

label {
	color: #57A;
	font-size: .7em;
	margin-top: .3em;
}

input[type=submit] {
	color: white;
	background-color:#57A;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	-moz-border-bottom-right-radius: 1em;
	-moz-border-bottom-left-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
}

input:hover[type=submit] {
	background-color: #163460;
}