<h1>Kendi menünüzü oluşturun</h1>

<div class='side'>
  <strong>Günün Menüsü</strong>'ne hoşgeldiniz. Günün menüsü, restoranların günlük menülerini internet üzerinden 
  pratik bir şekilde yayınlayabilmeleri için bir sistem. Siz de bir restoran sahibi iseniz Günün Menüsü'ne üye olun,
  ister <strong>menu.gen.tr</strong> alan adı altında (örn: <strong>bizimrestoran</strong>.menu.gen.tr) ister kendi alan adınız altında 
  (örn: <strong>bizimrestoran.com.tr</strong>) yayınlayın. Günün Menüsü, şimdilik geliştirme sürecinde ve geliştirme süreci bitene 
  kadar tamamen bedava.
</div>