<h1>Günün Menüsü</h1>

<p class='side'>
  <strong>Günün Menüsü</strong>'ne hoşgeldiniz. Günün menüsü, restoranların günlük menülerini internet üzerinden 
  pratik bir şekilde yayınlayabilmeleri için bir sistem. Siz de bir restoran sahibi iseniz Günün Menüsü'ne üye olun,
  ister <em>menu.gen.tr</em> alan adı altında (örn: <em>bizimrestoran</em>.menu.gen.tr) ister kendi alan adınız altında 
  (örn: <em>bizimrestoran.com.tr</em>) yayınlayın.
</p>