<p class="side">
		Merhaba patron,<br/>

		Menüyü daha iyi yapmak için sürekli çalışıyoruz, bunun için yaptığımız ufak tefek değişiklikleri de bu köşede duyuralım dedik.

	Mesela, yemeğin yanında verilenler satırının her zaman anlamlı bir şekilde doldurulamayacağını anladık, bu yüzden bir küçük değişiklik yaptık, o satırı doldurmak artık zorunlu değil, boş bırakabilirsin gönül rahatlığıyla.
	Böyle irili ufaklı geliştirmeler yapmaya devam edeceğiz, önerilerinizi de bekliyoruz.
</p>