<div class="side">
		<p>Merhaba patron,<br/>

		Çalışmalar devam ediyor, bir çok iyileştirme daha yaptık</p>
		
		<ul>
		  <li>Genel görünümü biraz toparladık, umarız beğenirsin.</li>
		  <li>
		    Restoranın adı, ek bilgileri vs. gibi detayları istediğin zaman değiştirebileceğin bir <strong>ayarlar sayfası</strong> ekledik
		    Sayfanın altında ilgili linki görebilirsin.
		  </li>
		  <li>Tüm yemekleri silip baştan menü oluşturmak için en alta bir <strong>Hepsini sil</strong> butonu ekledik </li>
		</ul>
</div>